
/* font
================================ */

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    width: 100%;
}

/* Clear Fix */

.clear_fix{
    clear:both;
}



/* Navbar
================================ */
.navbar{
    background: rgba(255, 255, 255, 0.9);
 
}

.main-logo {
    width: 170px;
    height: 40px;
    margin-top: 6px;
    color: black;
    text-indent: -100%;
    white-space: nowrap;
    background: url('../img/gjt-logo-70px-width.svg') no-repeat;
    background-size: 25%;
    padding-left: 60px;
    padding-bottom: 30px;
}

/* Cover
================================ */

header{
    /*height: 955px;*/
    background: url(../img/cover-bg.jpg) center center;
    background-size: cover;
    padding: 180px 0;
 
}

.header_contents{
    min-width: 335px;
    /*background: pink;*/
    max-width: 600px;
    width: 100%;
    margin: 0 auto;


}

.header_contents > h1{
    margin-top: 0;
    font-size: 72px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.05em;
    text-align: center;
    /*padding-top: 360px;*/
}

.header_contents > h1 > span{
    display: inline-block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
  
}


.subtitle{
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    font-size: 20px;
    
}

/* About me
================================ */

.about-me{
    padding-bottom: 50px;
    background: pink;
    padding-top: 40px;
}
        
        

.about-me > h3{
    color: #ff1d1d; 
    font-weight: 700;
    text-align: center;
    
    margin-bottom: 30px;
    letter-spacing: 0.15em;
}
.about-dp{
    max-width: 780px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    
    align-items: center;
    justify-content: space-around;
}

.face-img{
    
    width: 200px;
    height: 200px;
    background: url('../img/jeff2.png') no-repeat;
    background-size: 200px;
    background-position: center;
    order: 3;
    border-radius: 100%;
}




.icon1{
    background: url('../img/pencil.jpg') no-repeat;
    order:1;
}

.icon2{
    background: url('../img/tools.jpg') no-repeat;
    order:2;
}

.icon3{
    background: url('../img/window.jpg') no-repeat;
    order:4;
}

.icon4{
    background: url('../img/globe.jpg') no-repeat;
   order:5;
}

.icon1, .icon2, .icon3, .icon4{
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-position: center;
    border-radius: 100%;
}

.blurb{
    max-width: 620px;
    /*padding: 0 15px;*/
    margin: 0px auto;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 650px){
    .about-dp{
        display:block;
        text-align: center;
    }
    
    .about-dp > div{
        display: inline-block;
    }
    
    .face-img{
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 30px;
        
        
    }
    
    
    .icon1, .icon2, .icon3, .icon4{
        margin :10px;
    }
    

}



    
    

        
        

        
    
    
    
    
    
    
    
